{% extends 'base.html.twig' %}
{% block title %}Conference - {{ conference }}{% endblock %}
{% block body %}
<h2>{{ conference }} Conference</h2>
{% if comments|length > 0 %}
    <div>There are {{ comments|length }} comments.</div>
{% for comment in comments %}
{% if comment.photofilename %}
    <img src="{{ asset('uploads/photos/' ~ comment.photofilename)
    }}" />
{% endif %}
<h4>{{ comment.author }}</h4>
<small>
    {{ comment.createdAt|format_datetime('medium', 'short') }}
</small>
    <p>{{ comment.text }}</p>
{% endfor %}
    {% if previous >= 0 %}
        <a href="{{ path('conference', { slug: conference.slug }) }}">Previous</a>
    {% endif %}
    {% if next < comments|length %}
        <a href="{{ path('conference', { slug: conference.slug }) }}">Next</a>
    {% endif %}
{% else %}
    <h2>Add your own feedback</h2>

    {{ form(comment_form) }}
{% endif %}
{% endblock %}